* {
    margin: 0;
    padding: 0;
    font-family: var(--font-general);

}

a {
    box-shadow: none !important;
}

nav {
    box-shadow: none !important;
}

.main-navbar {
    background-color: #FAE706 !important;
    height: 60px !important;
}

.main-navbar .dropdown-menu {
    background-color: #FAE706 !important;
}

.main-navbar .dropdown-menu a:hover {
    background-color: #b9aa06 !important;
}

.navbar-expand-lg {
    background-color: #31353D !important;
    border-bottom: none !important;
}

.navbar-expand-lg .logo span {
    font-family: var(--font-logo);
    font-size: 30px;
}

.navbar-toggler {
    color: #FFFFFF !important;
}

.navbar-expand-lg a {
    color: #FFFFFF !important;
}

.navbar-expand-lg a:hover {
    color: #b7b2b2 !important;
}

header .input-group input {
    background-color: #FAE706 !important;
    border-bottom: 1px solid black !important;
}

/* -------------------------------------------------- */
.max-vh-83 {
    min-height: 81vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;


    background: #7F7F7F;
    background: -webkit-linear-gradient(to top, #000000, #7F7F7F);
    background: linear-gradient(to right, #000000, #7F7F7F);

}

.max-vh-83 h1 {
    font-size: 55px;
}

.max-vh-83 p {
    font-family: var(--font-cursive) !important;
    font-size: 30px;
}

.max-vh-83 a {
    background-color: #FAE706 !important;
    border-radius: 0 !important;
    font-weight: bold !important;
    color: #000000 !important;
}

.fs-9 {
    font-size: 10px;
    font-weight: bold;
    margin-top: -20px;
}


/* ------------------------------------------------------------------- */


.section-details-product-1 .bg-white-img {
    border: 1px solid #000000;
}

.section-details-product-1 .fs-9 {
    font-size: 10px;
    font-weight: bold;
    margin-top: -20px;
    font-size: 20px;
}

.section-details-product-1 .form input {
    border-radius: 0px;
    border: 1px solid #000000;
    padding-top: 8px;
    padding-bottom: 8px;
}

.section-details-product-1 .btn-yellow {
    background-color: #FAE706 !important;
    width: 250px;
    box-shadow: none;
    border-radius: 0px;
}

.section-details-product-1 .card-sub-img {
    border: 1px solid #000000;
}


/* ------------------------------------------------------------------- */

main {
    background-color: #C1C1C1;
}

.section-personalizar-product .yellow {
    background-color: #FAE706 !important;
}

.section-personalizar-product .grey-light {
    background-color: #E6E6E6;
}

.section-personalizar-product .grey {
    background-color: #999999;
    color: #ffffff !important;
}

.section-personalizar-product-2 {
    color: #000000 !important;
}

#Images .add-new-photo {
    display: flex;
    height: 100%;
    min-height: 240px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

#Images .add-new-photo .first:hover {
    background: rgba(255, 255, 255, 0.17);
}

#Images input {
    display: none;
}

.btn-send a {
    background-color: #FAE706 !important;
    width: 250px;
    border-radius: 0px;
}


/* ------------------------------------------------------------------- */

.section-nosotros .logo span {
    font-family: var(--font-logo);
    font-size: 30px;
    color: #000000 !important;
}

.section-nosotros p {
    color: #000000 !important;
    z-index: 1;
}

.section-nosotros a{
    background-color: #000000 !important;
    border-radius: 0px !important;
    color: #FFFFFF !important;
}

.section-nosotros img {
    float: right;
}

/* .section-nosotros .image {
    position: relative;
    top: -80% !important;
    left: 30% !important;

} */

@media only screen and (max-width: 600px) {
    .section-nosotros .image {
        display: none !important;
        ;

    }
}

.section-nosotros .sec-2 img {
    margin-top: 0px;
    float: inline-start !important;
}

.section-nosotros .sec-2 p {
    color: #000000 !important;
}

.section-nosotros .sec-2 a {
    background-color: #000000 !important;
    color: #FFFFFF;
    width: 250px;
    border-radius: 0px;
}

/* ------------------------------------------------------------------- */

footer {
    background-color: #333333 !important;
}

footer .input-group input {
    border-radius: 0px;
    background-color: #333333 !important;
    border-bottom: 1px solid #FAE706 !important;
}

footer .btn-yellow {
    background-color: #FAE706;
    border-radius: 0px;
    width: 150px;
}